.container {
  border: 1px solid black;
  margin: 20px;
  border-radius: 20px;
}

.search {
  display: flex;
  color: #232323;
  background-color: #f2f6f8;
  padding-left: 14px;
  justify-content: space-between;
  border: none;
  border-radius: 20px;
}

.input {
  font-size: 29px;
  font-weight: 500;
  line-height: 40px;
  border: none;
  background-color: #f2f6f8;
  width: 80%;
  padding-left: 10px;
}
.input:placeholder-shown {
  color: gray;
}
.inputImg {
  padding-right: 20px;
  border-left: 1px solid black;
}
.search button {
  background: none;
  border: none;
}
